okapi_url: http://localhost:9130/
secure_store_props: ephemeral.properties
secure_store: Ephemeral
api_key_sources: PARAM,HEADER
spring:
  application:
    name: edge-dematic
  jackson:
    default-property-inclusion: non_null
  liquibase:
    enabled: false
  flyway:
    enabled: false

feign:
  client:
    config:
      default:
        loggerLevel: full

logging:
  level:
    org:
      springframework:
        cache: OFF

server.port: 8081
folio.tenant.validation.enabled: false

# heartbeat timeframe for the primary channel (millis)
primary.channel.heartbeat.timeframe: 30000

# configurations update timeframe (millis)
configurations.update.timeframe: 3600000
